name: CI-frontend

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'

  pull_request:
    branches:
      - main
    paths:
      - 'frontend/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18' # Use a Node.js version compatible with the project

    - name: Install dependencies
      working-directory: frontend
      run: |
        npm install

    - name: Run ESLint
      working-directory: frontend
      run: |
        npm run lint

    - name: Run TypeScript Check
      working-directory: frontend
      run: |
        npx tsc --noEmit
